*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

nav{
    width: 100%;
    background: rgba(151, 233, 155, 0.8);
    height: 12vh;
    z-index: 1;
    position: fixed;
}

.profil {
    position: absolute;
    display: flex; align-items: center;
    top: 10px; left: 10px;
    
}
a img.image {
    width: 60px; height: 60px;
    border-radius: 50%;
    border: 3px solid #151728;
  }
.nom {
    color: #151728;
    margin-left: 1em;
    margin-bottom: 0%;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    white-space: 2px;
    letter-spacing: 0.02em;

  }

  .menu{
    padding-left: 250px;
    padding-top: 30px;
    width: 400px;
    height: 100px;
    float: left;
}

ul.r{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.r li{
    list-style: none;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 1.25em;
    font-family: Arial ;
    letter-spacing: 0.02em;
}

ul.r li a{
    text-decoration: none;
    color: #151728;
    font-family: Arial ;
    font-weight:bold;
    transition: 0.4s ease-in-out;
}

ul.r li a:hover , ul.r li.active a {
    color: #ebf3f0;
    padding: 10px;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
}


.nn{
    width: 330px;
    float: left;
    margin-left: 270px;
    padding-top: 20px;
    padding-left: 8%;
}

.ch{
    font-family: Arial;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1.5px solid rgb(14, 233, 61);
    margin-top: 15px;
    color: rgb(8, 8, 8);
    font-size: 1.25em;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #048855;
    border: 2px solid rgb(14, 233, 61);
    margin-top: 15px;
    margin-left: 5px;
    color: #fff;
    font-size: 1.05em;
    border-bottom-right-radius: 10px;
    border-top-right-radius:10px ;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
    
}

h2{
    text-align: center;
    padding-top: 7%;
    font-weight: bold;
    font-family:Arial;
    word-spacing: 10px;
    color: rgb(7, 6, 6);

}
.f{
    display:inline
}
.f .gg{
    width: 250px;
    position: absolute;
    top: 12%;
    bottom:0% ;
    background: rgb(151, 233, 155, 0.8);
    border-bottom-right-radius: 10px;
    box-shadow: 5px 7px 10px rgb(0, 0, 0, 0.5);
}
.f .gg ul.rr{
    position: relative;
    top: 10px;
    list-style-type: none;
    padding-left:10px ;

}
.f .gg ul.rr li a{
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: capitalize;
    color: #000 ;
    padding: 20px ,30px ;
    height: 55px;
    transition: 0.5s ,ease-in-out;
    border-radius: 0px 30px;
}


.f .gg ul.rr li a:hover {
    background: rgb(151, 233, 155, 0.8) ;
    color: #fff;
}

a img.image:hover{
    border: #fff;
}